<!doctype html>
<h1>Browse Public and User Tags</h1>
<a href='/'>Home</a>

<div class="wrapper">
    <div class="user-tags">
        <h2>Below are tags that your photos are associated with. Select one to see all photos with that tag.</h2>
    </div>

    <div class="all-tags">
        <h2>Below are all tags on this site. Select one to see all photos with that tag.</h2>
    {% if all_tags %}
        {% for tag in all_tags %}
        <a href=''>{{tag}}</a> 
        {% endfor %}
    {% endif %}
    </div>
</div>