<!-- author ben lawson (balawson@bu.edu) -->
<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }

    img {
      width: 250px;
    }
  </style>
  </head>
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos and name %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br />
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if photos and not name %}
<h2>Here are all the photos</h2>
    <ul>
    {% for photo in photos %}
        <li>{{photo[2]}}<br />
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if albums %}
<h2>Here are your albums</h2>
    <ul>
    {% for album in albums %}

        <li>{{album[0]}}<br />
          {{album[1]}}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
<li><a href='/upload'>Upload a photo</a></li>
<li><a href='/browsePhotos'>Browse photos</a></li>
<li><a href='/browsePublic'>Browse public photos</a></li>
<li><a href='/browsePublicAlbums'>Browse public albums</a></li>
<li><a href='/createAlbum'>Create an album</a></li>
<li><a href='/deleteAlbum'>Delete an album</a></li>
<li><a href='/browseAlbum'>Browse your albums</a></li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>

{% if contributions %}
<h3>
  Top 10 Contributors
  </h3>
<table>
  <tr>
    <th>
      First Name
    </th>
    <th>
      Last Name
    </th>
    <th>
      Contributions
    </th>
  </tr>
  {% for row in contributions %}
   <tr>
  {% for cell in row %}
    <td>{{cell}}</td>
  {% endfor %}
  </tr>
  {% endfor %}
  </table>
</ul>
{% endif %}