<head>
    <title>Photo</title>
</head>
    <body>
    	{% if photo %}
		<li>{{photo[2]}}<br />
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        <li>Likes: {{photo[4]}} 
        	{% if uid != photo[3] and button %}
       		<form method="post" enctype="multipart/form-data" action="/photo/{{photo[1]}}">
                <input type="submit" name="submit" value="Like" />
            </form>
        	{% endif %}

        	{% if uid != photo[3] and not button %}
       		<form method="post" enctype="multipart/form-data" action="/photo/{{photo[1]}}">
                <input type="submit" name="submit" value="Unlike" />
            </form>
        	{% endif %}

        	{% if liked %}
			<h3>
  			People who liked this photo
  			</h3>
			<table>
  			<tr>
    		<th>
      		First Name
    		</th>
    		<th>
      		Last Name
    		</th>
  			</tr>
  		{% for row in liked %}
   			<tr>
    		<td>{{row[1]}}</td>
    		<td>{{row[2]}}</td>
  			</tr>
  		{% endfor %}
  		</table>
  		{% endif %}

        	{% endif %}


    	{% if not photo %}
    		<div class="title">
            <h1>There is no photo associated with this photo id<h1>
        </div>
		{% endif %}
		<a href="/">Go Home</a>
    </body>
